.theme, .theme li{
    background-color: #5BAD92;
}

html {
  font-size: 13pt;
}

body {
  margin: 0;
}

h1 {
  font-size: 1.5em;
}

h2 {
  font-size: 1.2em;
}

ul {
    display:table;
    table-layout:fixed;
    width:100%;
    padding: 0px;
}
ul li {
    display:table-cell;
    vertical-align:middle;
    text-align:center;
    border-left:1px solid white;
    padding: 0.3em;
}
ul li:first-child {
    border:none;
}
ul li a {
    display:block;
    text-decoration:none;
    color:white;
}

table{
  border-collapse: collapse;
  border-spacing: 0;
  margin-bottom: 40px;
  width: 100%;
  max-width: 400px;
}

table th,table td{
  padding: 2pt 5pt;
  vertical-align:top;
}

table td{
    text-align: right;
    min-width: 30px;
}

table th{
    width: 20%;
    max-width: 200px;
    min-width: 30px;
}

th.name{
    min-width: 100px;
}

.scroll-table{
  display: block;
  overflow-x: scroll;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}

input{
    font-size: 1em;
    width: 98%;
    max-width: 160px;
}

button{
    font-size: 1em;
}

.container {
  margin: 0 auto;
  width: 98%;
}

.content {
  margin: 0 auto 20pt auto;
  width: 100%;
}

.header,.footer{
  width: 100%;
  font-size: 0.8em;
}

.header{
  margin-bottom: 20pt;
}

.footer{
  margin-top: 40pt;
}
